@model UserDto


<div class="portlet light">
    <div class="portlet-title">
        <div class="actions">
            <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Save</button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="card-body">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input type="text" class="form-control" asp-for="UserName" value="@Model.UserName">
                        <span class="text-danger" asp-validation-for="UserName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" class="form-control" asp-for="Password">
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input type="text" class="form-control" asp-for="FirstName" value="@Model.FirstName">
                        <span class="text-danger" asp-validation-for="FirstName"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input type="text" class="form-control" asp-for="LastName" value="@Model.LastName">
                        <span class="text-danger" asp-validation-for="LastName"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Status"></label>
                        <select class="form-control" asp-for="Status" asp-items="Enum.GetNames<UserStatus>().Select(item => new SelectListItem(item, item, Model.Status.ToString() == item))">
                            <option>Please select one...</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Status"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Role"></label>
                        <select class="form-control" asp-for="Role" asp-items="Enum.GetNames<UserRole>().Select(item => new SelectListItem(item, item, Model.Role.ToString() == item))">
                            <option>Please select one...</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Role"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>